### Mettre un fichier de sortie au format de soumission

In [34]:
import pandas as pd
import random

Observation du fichier de soumission donné en exemple

In [35]:
submission_model=pd.read_csv("../../../data/MSampleSubmissionStage1_2020.csv")

In [36]:
submission_model.shape

(11390, 2)

In [37]:
submission_model.head(10)

               ID  Pred
0  2015_1107_1112   0.5
1  2015_1107_1116   0.5
2  2015_1107_1124   0.5
3  2015_1107_1125   0.5
4  2015_1107_1129   0.5
5  2015_1107_1138   0.5
6  2015_1107_1139   0.5
7  2015_1107_1140   0.5
8  2015_1107_1153   0.5
9  2015_1107_1157   0.5

Nos fichiers de résultats vont être sous la forme de csv avec pour colonne l'année, l'identifiant de l'équipe 1 et l'identifiant de l'équipe 2, puis la prédiction faite pour l'équipe 1.

In [38]:
matchs_data=pd.read_csv('predict.csv')
print(matchs_data.shape[0])
matchs_data.sample(2)

11390

      Année  ID_Team1  ID_Team2  Predic_Team1
4796   2017      1439      1457          0.54
3880   2016      1218      1268          0.46

Création d'un tel fichier de façon aléatoire pour les tests.

In [13]:
matchs_data=pd.DataFrame(columns=['Année','ID_Team1', 'ID_Team2', 'Predic_Team1'], index=[str(j) for j in range(68)])

In [14]:
for i in range(68):
    matchs_data.iloc[i,0]=random.randint(2015,2018)
    matchs_data.iloc[i,1]=random.randint(1000,1010)
    matchs_data.iloc[i,2]=random.randint(1000,2000)
    matchs_data.iloc[i,3]=random.random()

In [15]:
matchs_data.sample(3)

   Année ID_Team1 ID_Team2 Predic_Team1
63  2018     1002     1728     0.202712
37  2018     1007     1787    0.0918659
56  2018     1006     1658     0.212199

A partir de là, on trie pour avoir par ordre des années, puis par ordre de l'identifiant de la première équipe puis de la 2ème, comme dans l'exemple.

In [39]:
matchs_data.sort_values(['Année', 'ID_Team1', 'ID_Team2'], inplace=True)

In [40]:
matchs_data.head(15)

     Année  ID_Team1  ID_Team2  Predic_Team1
468   2015      1107      1112          0.40
471   2015      1107      1116          0.40
469   2015      1107      1124          0.36
431   2015      1107      1125          0.36
427   2015      1107      1129          0.34
461   2015      1107      1138          0.32
455   2015      1107      1139          0.30
477   2015      1107      1140          0.30
457   2015      1107      1153          0.40
483   2015      1107      1157          0.42
442   2015      1107      1172          0.34
428   2015      1107      1173          0.36
433   2015      1107      1181          0.26
445   2015      1107      1186          0.44
436   2015      1107      1207          0.46

In [41]:
#On crée notre fichier de soumission
submission_file=pd.DataFrame(columns=['ID', 'Pred'], index=[str(j) for j in range(11390)])

In [42]:
# On le remplit
i=0
for x in matchs_data.itertuples():
    ID_result=str(x.Année)+'_'+str(x.ID_Team1)+'_'+str(x.ID_Team2)
    submission_file.iloc[i,0]=ID_result
    submission_file.iloc[i,1]=x.Predic_Team1
    i+=1

In [43]:
# On vérifie qu'on obtient le format voulu
submission_file.head(4)

               ID  Pred
0  2015_1107_1112   0.4
1  2015_1107_1116   0.4
2  2015_1107_1124  0.36
3  2015_1107_1125  0.36

In [44]:
# Vérifier aussi la taille (doit être de 11390 x 2)
submission_file.shape

(11390, 2)

In [48]:
submission_file.to_csv("../../../result/to_submit.csv", index=False)