### Mettre un fichier de sortie au format de soumission

In [1]:
import pandas as pd
import random

Observation du fichier de soumission donné en exemple

In [5]:
submission_model=pd.read_csv("../../../data/MSampleSubmissionStage1_2020.csv")

In [6]:
submission_model.shape

(11390, 2)

In [7]:
submission_model.head(10)

               ID  Pred
0  2015_1107_1112   0.5
1  2015_1107_1116   0.5
2  2015_1107_1124   0.5
3  2015_1107_1125   0.5
4  2015_1107_1129   0.5
5  2015_1107_1138   0.5
6  2015_1107_1139   0.5
7  2015_1107_1140   0.5
8  2015_1107_1153   0.5
9  2015_1107_1157   0.5

Nos fichiers de résultats vont être sous la forme de csv avec pour colonne l'année, l'identifiant de l'équipe 1 et l'identifiant de l'équipe 2, puis la prédiction faite pour l'équipe 1.

In [12]:
#matchs_data=pd.read_csv()

Création d'un tel fichier de façon aléatoire pour les tests.

In [13]:
matchs_data=pd.DataFrame(columns=['Année','ID_Team1', 'ID_Team2', 'Predic_Team1'], index=[str(j) for j in range(68)])

In [14]:
for i in range(68):
    matchs_data.iloc[i,0]=random.randint(2015,2018)
    matchs_data.iloc[i,1]=random.randint(1000,1010)
    matchs_data.iloc[i,2]=random.randint(1000,2000)
    matchs_data.iloc[i,3]=random.random()

In [15]:
matchs_data.sample(3)

   Année ID_Team1 ID_Team2 Predic_Team1
63  2018     1002     1728     0.202712
37  2018     1007     1787    0.0918659
56  2018     1006     1658     0.212199

A partir de là, on trie pour avoir par ordre des années, puis par ordre de l'identifiant de la première équipe puis de la 2ème, comme dans l'exemple.

In [16]:
matchs_data.sort_values(['Année', 'ID_Team1', 'ID_Team2'], inplace=True)

In [17]:
matchs_data.head(15)

   Année ID_Team1 ID_Team2 Predic_Team1
0   2015     1002     1952     0.447449
27  2015     1003     1950     0.797031
25  2015     1004     1027     0.998418
21  2015     1004     1735     0.468127
41  2015     1005     1735     0.466276
64  2015     1006     1201     0.786254
12  2015     1008     1400     0.463243
59  2015     1009     1259     0.190161
44  2015     1009     1893     0.211016
40  2016     1000     1559     0.558815
61  2016     1001     1401     0.133301
4   2016     1002     1222     0.627432
3   2016     1002     1830     0.893023
7   2016     1002     1876      0.58359
28  2016     1003     1294      0.58958

In [18]:
#On crée notre fichier de soumission
submission_file=pd.DataFrame(columns=['ID', 'Pred'], index=[str(j) for j in range(11390)])

In [19]:
# On le remplit
i=0
for x in matchs_data.itertuples():
    ID_result=str(x.Année)+'_'+str(x.ID_Team1)+'_'+str(x.ID_Team2)
    submission_file.iloc[i,0]=ID_result
    submission_file.iloc[i,1]=x.Predic_Team1
    i+=1

In [20]:
# On vérifie qu'on obtient le format voulu
submission_file.head(4)

               ID      Pred
0  2015_1002_1952  0.447449
1  2015_1003_1950  0.797031
2  2015_1004_1027  0.998418
3  2015_1004_1735  0.468127

In [21]:
submission_file.to_csv("../../../result/to_submit.csv")