In [1]:
import pandas as pd
#import pipeline as pp
import pipeline_update as pp

In [2]:
s=pd.read_csv('stats_v1.csv')
s.shape
#5829

(13212, 9)

In [3]:
# prédictions 2015
p = pp.pipeline(path='../../../data/MDataFiles_Stage1/', season= 2015)

# Ajout éventuel de données
p.add_team_data('stats_v1.csv')
#p.add_team_data("features_season.csv")

# Ajout de la différence entre les équipes (ici, pour le Seed seulement)
p.compute_differences(['Seed'])

# Entrainement et prédiction
p.train_model()
p_2015=p.predict(out='predict_2015.csv')

[1985 1986 1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997 1998
 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012
 2013 2014]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [4]:
# prédictions 2016
p = pp.pipeline(path='../../../data/MDataFiles_Stage1/', season= 2016)

# Ajout éventuel de données
p.add_team_data('stats_v1.csv')
#p.add_team_data("features_season.csv")

# Ajout de la différence entre les équipes (ici, pour le Seed seulement)
p.compute_differences(['Seed'])

# Entrainement et prédiction
p.train_model()
p_2016=p.predict(out='predict_2016.csv')

[1985 1986 1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997 1998
 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012
 2013 2014 2015]
History merged with stats_v1.csv
Difference computed on Seed
Generated matches merged with stats_v1.csv
Result saved as predict_2016.csv

In [5]:
# prédictions 2017
p = pp.pipeline(path='../../../data/MDataFiles_Stage1/', season= 2017)

# Ajout éventuel de données
p.add_team_data('stats_v1.csv')
#p.add_team_data("features_season.csv")

# Ajout de la différence entre les équipes (ici, pour le Seed seulement)
p.compute_differences(['Seed'])

# Entrainement et prédiction
p.train_model()
p_2017=p.predict(out='predict_2017.csv')

[1985 1986 1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997 1998
 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012
 2013 2014 2015 2016]
History merged with stats_v1.csv
Difference computed on Seed
Generated matches merged with stats_v1.csv
Result saved as predict_2017.csv

In [6]:
# prédictions 2018
p = pp.pipeline(path='../../../data/MDataFiles_Stage1/', season= 2018)

# Ajout éventuel de données
p.add_team_data('stats_v1.csv')
#p.add_team_data("features_season.csv")

# Ajout de la différence entre les équipes (ici, pour le Seed seulement)
p.compute_differences(['Seed'])

# Entrainement et prédiction
p.train_model()
p_2018=p.predict(out='predict_2018.csv')

[1985 1986 1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997 1998
 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012
 2013 2014 2015 2016 2017]
History merged with stats_v1.csv
Difference computed on Seed
Generated matches merged with stats_v1.csv
Result saved as predict_2018.csv

In [7]:
# prédictions 2019
p = pp.pipeline(path='../../../data/MDataFiles_Stage1/', season= 2019)

# Ajout éventuel de données
p.add_team_data('stats_v1.csv')
#p.add_team_data("features_season.csv")

# Ajout de la différence entre les équipes (ici, pour le Seed seulement)
p.compute_differences(['Seed'])

# Entrainement et prédiction
p.train_model()
p_2019=p.predict(out='predict_2019.csv')

[1985 1986 1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997 1998
 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012
 2013 2014 2015 2016 2017 2018]
History merged with stats_v1.csv
Difference computed on Seed
Generated matches merged with stats_v1.csv
Result saved as predict_2019.csv

In [8]:
p_total=pd.concat([p_2015, p_2016, p_2017, p_2018, p_2019])
p_total.shape

(22780, 4)

In [9]:
p_2015.head(2)

   Année  ID_Team1  ID_Team2  Predic_Team1
0   2015      1437      1438      0.411049
1   2015      1437      1328      0.402555

In [10]:
p_2015[(p_2015["ID_Team1"]==1437) & (p_2015["ID_Team2"]==1107)]

    Année  ID_Team1  ID_Team2  Predic_Team1
13   2015      1437      1107      0.085759

In [11]:
p_2015[(p_2015["ID_Team1"]==1107) & (p_2015["ID_Team2"]==1437)]

     Année  ID_Team1  ID_Team2  Predic_Team1
938   2015      1107      1437      0.950473

In [12]:
import time
t0=time.time()
df = p_total

results = {}
for index, row in df.iterrows():
    i, j = row['ID_Team1'], row['ID_Team2']
    season = row['Année']
    if (j, i, season) not in results.keys():
        results[(i, j, season)]=[row['Predic_Team1']]
    else:
        results[(j, i, season)].append(row['Predic_Team1'])

data = []
for k, v in results.items():
    i, j = int(k[0]), int(k[1])
    if i > j:
        i, j = j, i
    d = {
        "Année":int(k[2]),
        "ID_Team1":i,
        "ID_Team2":j,
        "Pred_1":v[0],
        "Pred_2":v[1],
        "Predic_Team1":(v[0]+v[1])/2
    }
    data.append(d)
data = pd.DataFrame(data)
print("Execution time: %fs"%(time.time() - t0))
data.head()

Execution time: 1.696481s

   Année  ID_Team1  ID_Team2    Pred_1    Pred_2  Predic_Team1
0   2015      1437      1438  0.411049  0.576057      0.493553
1   2015      1328      1437  0.402555  0.678478      0.540516
2   2015      1257      1437  0.292890  0.636428      0.464659
3   2015      1320      1437  0.310035  0.582062      0.446049
4   2015      1344      1437  0.296990  0.720830      0.508910

In [13]:
data.shape

(11390, 6)

In [14]:
data.drop(["Pred_1", "Pred_2"], axis=1, inplace=True)
data

       Année  ID_Team1  ID_Team2  Predic_Team1
0       2015      1437      1438      0.493553
1       2015      1328      1437      0.540516
2       2015      1257      1437      0.464659
3       2015      1320      1437      0.446049
4       2015      1344      1437      0.508910
5       2015      1277      1437      0.519893
6       2015      1301      1437      0.466200
7       2015      1261      1437      0.474025
8       2015      1208      1437      0.455985
9       2015      1129      1437      0.455985
10      2015      1173      1437      0.451320
11      2015      1437      1461      0.461644
12      2015      1414      1437      0.507564
13      2015      1107      1437      0.518116
14      2015      1125      1437      0.500520
15      2015      1248      1437      0.495717
16      2015      1181      1437      0.512426
17      2015      1211      1437      0.501896
18      2015      1235      1437      0.506842
19      2015      1207      1437      0.490170
20      2015      1428      1437      0.490716
21      2015      1374      1437      0.457112
22      2015      1234      1437      0.480077
23      2015      1361      1437      0.448699
24      2015      1385      1437      0.479612
25      2015      1172      1437      0.455985
26      2015      1417      1437      0.451320
27      2015      1372      1437      0.429780
28      2015      1186      1437      0.505950
29      2015      1412      1437      0.515992
...      ...       ...       ...           ...
11360   2019      1159      1279      0.533785
11361   2019      1205      1279      0.533452
11362   2019      1234      1328      0.486391
11363   2019      1328      1388      0.481172
11364   2019      1328      1332      0.474905
11365   2019      1328      1414      0.543598
11366   2019      1328      1330      0.533867
11367   2019      1159      1328      0.533785
11368   2019      1205      1328      0.519199
11369   2019      1234      1388      0.487484
11370   2019      1234      1332      0.463057
11371   2019      1234      1414      0.500925
11372   2019      1234      1330      0.524128
11373   2019      1159      1234      0.520115
11374   2019      1205      1234      0.515068
11375   2019      1332      1388      0.451827
11376   2019      1388      1414      0.521095
11377   2019      1330      1388      0.525293
11378   2019      1159      1388      0.521066
11379   2019      1205      1388      0.525121
11380   2019      1332      1414      0.514423
11381   2019      1330      1332      0.519028
11382   2019      1159      1332      0.497299
11383   2019      1205      1332      0.516020
11384   2019      1330      1414      0.562630
11385   2019      1159      1414      0.547114
11386   2019      1205      1414      0.544583
11387   2019      1159      1330      0.543314
11388   2019      1205      1330      0.540138
11389   2019      1159      1205      0.542057

[11390 rows x 4 columns]

In [15]:
data.to_csv('predict_hyperparam.csv', index=False)