In [1]:
import pandas as pd
import pipeline as pp
#import pipeline_update as pp

In [4]:
# prédictions 2015
p = pp.pipeline(path='../../../data/MDataFiles_Stage1/', season= 2015)

# Ajout éventuel de données
p.add_team_data('stats_v1.csv')

# Ajout de la différence entre les équipes (ici, pour le Seed seulement)
p.compute_differences(['Seed'])

# Entrainement et prédiction
p.train_model()
p_2015=p.predict(out='predict_2015.csv')

[1985 1986 1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997 1998
 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012
 2013 2014]
History merged with stats_v1.csv
Difference computed on Seed
Generated matches merged with stats_v1.csv
Result saved as predict_2015.csv

In [5]:
# prédictions 2016
p = pp.pipeline(path='../../../data/MDataFiles_Stage1/', season= 2016)

# Ajout éventuel de données
p.add_team_data('stats_v1.csv')

# Ajout de la différence entre les équipes (ici, pour le Seed seulement)
p.compute_differences(['Seed'])

# Entrainement et prédiction
p.train_model()
p_2016=p.predict(out='predict_2016.csv')

[1985 1986 1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997 1998
 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012
 2013 2014 2015]
History merged with stats_v1.csv
Difference computed on Seed
Generated matches merged with stats_v1.csv
Result saved as predict_2016.csv

In [6]:
# prédictions 2017
p = pp.pipeline(path='../../../data/MDataFiles_Stage1/', season= 2017)

# Ajout éventuel de données
p.add_team_data('stats_v1.csv')

# Ajout de la différence entre les équipes (ici, pour le Seed seulement)
p.compute_differences(['Seed'])

# Entrainement et prédiction
p.train_model()
p_2017=p.predict(out='predict_2017.csv')

[1985 1986 1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997 1998
 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012
 2013 2014 2015 2016]
History merged with stats_v1.csv
Difference computed on Seed
Generated matches merged with stats_v1.csv
Result saved as predict_2017.csv

In [7]:
# prédictions 2018
p = pp.pipeline(path='../../../data/MDataFiles_Stage1/', season= 2018)

# Ajout éventuel de données
p.add_team_data('stats_v1.csv')

# Ajout de la différence entre les équipes (ici, pour le Seed seulement)
p.compute_differences(['Seed'])

# Entrainement et prédiction
p.train_model()
p_2018=p.predict(out='predict_2018.csv')

[1985 1986 1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997 1998
 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012
 2013 2014 2015 2016 2017]
History merged with stats_v1.csv
Difference computed on Seed
Generated matches merged with stats_v1.csv
Result saved as predict_2018.csv

In [8]:
# prédictions 2019
p = pp.pipeline(path='../../../data/MDataFiles_Stage1/', season= 2019)

# Ajout éventuel de données
p.add_team_data('stats_v1.csv')

# Ajout de la différence entre les équipes (ici, pour le Seed seulement)
p.compute_differences(['Seed'])

# Entrainement et prédiction
p.train_model()
p_2019=p.predict(out='predict_2019.csv')

[1985 1986 1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997 1998
 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012
 2013 2014 2015 2016 2017 2018]
History merged with stats_v1.csv
Difference computed on Seed
Generated matches merged with stats_v1.csv
Result saved as predict_2019.csv

In [9]:
p_total=pd.concat([p_2015, p_2016, p_2017, p_2018, p_2019])
p_total.shape

(22780, 4)

In [10]:
p_2015.head(2)

   Année  ID_Team1  ID_Team2  Predic_Team1
0   2015      1437      1438        0.4875
1   2015      1437      1328        0.2500

In [11]:
p_2015[(p_2015["ID_Team1"]==1437) & (p_2015["ID_Team2"]==1107)]

    Année  ID_Team1  ID_Team2  Predic_Team1
13   2015      1437      1107        0.2375

In [12]:
p_2015[(p_2015["ID_Team1"]==1107) & (p_2015["ID_Team2"]==1437)]

     Année  ID_Team1  ID_Team2  Predic_Team1
938   2015      1107      1437           0.8

In [13]:
list_ID=p_total['ID_Team1'].unique()
list_years=p_total['Année'].unique()
print(list_years)

[2015 2016 2017 2018 2019]

In [14]:
for y in list_years:
    print(y)
    for indice_1 in list_ID:
        for indice_2 in list_ID:
            if indice_1<indice_2:
                pred1=p_total[(p_total['Année']==y) & (p_total['ID_Team1']==indice_1) & (p_total['ID_Team2']==indice_2)]
                pred2=p_total[(p_total['Année']==y) & (p_total['ID_Team1']==indice_2) & (p_total['ID_Team2']==indice_1)]
                
                p_total.loc[(p_total['ID_Team1']==indice_1) & (p_total['ID_Team2']==indice_2) & (p_total['Année']==y)]=(pred1+pred2)/2

2015
2016
2017
2018
2019

In [17]:
p_total=p_total[p_total['ID_Team1']<p_total['ID_Team2']]
p_total.shape

(0, 4)

In [16]:
p_total.to_csv('predict_moyenne.csv', index=False)